.click-counter {
  position: fixed;
  top: 16px;
  right: 16px;
  border: 1px solid black;
  padding: 8px;
  display: flex;
  align-items: center;
}

.click-counter__counter {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0 8px 0 0;
}