* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  /* display: flex; */
  align-items: center;
  width: 400px;
  margin: 0 auto;
}
/* .App {
} */

.post {
  display: flex;
  padding: 15px;
  border: 1px solid green;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}


.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-150px);
  transition: all 500ms ease-in;
}

.pagination {
padding: 16px 0;
display: flex;
justify-content: center;
align-items: center;
}
.pagination .page {
  display: block;
  border: 1px solid green;
  text-align: center;
  width: 26px;
  cursor: pointer;
}
.pagination .page.active {
  background-color: green;
  font-weight: bold;
  color: white;
}


header {
  display: block;
  width: 100%;
  padding: 16px 0;
  background-color: #ccc;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a {
  padding: 0 16px;
  text-decoration: none;

}